@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar-track {
    background: #280142;
}

:-webkit-scrollbar-thumb {
    background: rgb(5, 0, 36);
    background: linear-gradient(180deg, rgba(5, 0, 36, 1) 0%, rgba(119, 32, 162, 1) 50%, rgba(255, 90, 249, 1) 100%);
}

.instructions-bg{
    writing-mode: vertical-rl;
text-orientation: upright;
}